body {
    font-family: "Poppins", sans-serif;

}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.logo {
    padding-left: 100px;
}


header {
    width: 100%;
    height: 60px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 15px 15px -15px rgba(0,0,0,.2);
}


.nav-bar {
    padding-right: 100px;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    
}

.nav_item {
    text-decoration: solid;
    color: black;
}

.nav_item:hover {
    color: #850910;
}

.line {
    color:#850910;
    font-weight: bold;
    
}

.heading-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.item_container {
    padding: 50px 0 50px 0;
    display: flex;
    justify-content: center;
    gap: 100px;
    max-width: 80%;
    flex-wrap: wrap;
    margin: 0 auto;

}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.item-img {
    width: 200px;
    height: 250px;
}


.rating {
    color: rgb(225, 163, 8);
}